{% extends 'layout/list.html' %}
{% load static %}

{% block title %}
Product - Listing
{% endblock title %}

{% block breadcrumb_title %}List all websites{% endblock %}

{% block grid_actions %}
<div class="multiple_targets_button" style="visibility: hidden;">
  <a class="btn btn-outline-danger mb-2 float-right" href="#" onclick="deleteMultipleTargets()">Delete Multiple Targets</a>
  <a class="btn btn-outline-info mb-2 float-right" href="#" onclick="scanMultipleTargets()">Scan Multiple Targets</a>
</div>
{% endblock %}

{% block grid_column %}
          <th class="checkbox-column">Alias</th>
          <th>Owner</th>
          <th>Frame</th>
          <th>Where</th>
          <th>Target</th>
          <th>Pseudo</th>
          <th class="text-center">Action</th>
{% endblock %}

{% block grid_record %}
<td class="checkbox-column">
    <a href="{% url 'organism_read' entry.pk %}">
        {{ entry.alias }}
    </a>
</td>
<td>{{ entry.owner }}</td>
<td>{{ entry.get_frame_display }}</td>
<td class="checkbox-column">
    <a href="{% url 'hosting_read' entry.pk %}">
        {{ entry.where }}
    </a>
</td>
<td>{{ entry.target }}</td>
<td>{{ entry.pseudo }}</td>
{% endblock %}

{% block grid_action %}
{% if entry %}
<a href="{% url 'organism_edit' entry.pk %}" class="bs-tooltip open-domain" data-placement="top" title="" data-original-title="Update target">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather table-edit feather-edit-2">
    <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
  </svg>
</a>
<!--
<a href="{% url 'organism_edit' entry.pk %}" class="bs-tooltip btnDelDomain" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete target">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather table-delete feather-x-circle">
    <circle cx="12" cy="12" r="10"></circle>
    <line x1="15" y1="9" x2="9" y2="15"></line>
    <line x1="9" y1="9" x2="15" y2="15"></line>
  </svg>
</a>
-->
{% endif %}
{% endblock %}
