{% load hosts_override %}{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block pagetitle %}
        <title>OntoSPy</title>
        {# 8835 9776 #}
    {% endblock pagetitle %}

    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="{{ STATIC_URL }}ontospyweb/ontospyweb.css" rel="stylesheet">

    <script src="{{ STATIC_URL }}libs/chart.js-master/Chart.js"></script>
    <script src="{{ STATIC_URL }}libs/chart.js.legend-master/src/legend.js"></script>

    {% block extrahead %}



    {% endblock extrahead %}


  </head>
  <body>



    {% block navbar %}

        {% include "ontospyweb/components/navbar_onto.html" %}

    {% endblock navbar %}




    {% if messages %}   {# not tested yet #}

        {% for message in messages %}
            <div class="lead alert alert-warning alert-dismissable text-center message-div" style="margin-top: -21px;">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ message|safe }}
            </div>


        {% endfor %}

            <script type="text/javascript">
                setTimeout(function(){$("div.message-div").fadeOut("slow")}, 3000);
            </script>

    {% endif %}




      <div class="container main-container">


          {% block pageh1title %}

        {% endblock pageh1title %}




          {% block pagecontents %}

              {# <h1>Hello, world!</h1> #}


        {% endblock pagecontents %}


      </div>


    {% block footer %}
    <div class="footer">


            {# eg #}

          <div class="container">
              <br />
                <p class="text-muted text-center">Last updated on [2014-10-03]</p>
          </div>


    </div>
    {% endblock footer %}







    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script src="{{ STATIC_URL }}jquery/jquery-1.7.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ STATIC_URL }}bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>



    {% block global_js  %}

    {% endblock  %}



    {# % include "googlestats.html" % #}

  </body>
</html>




















{% block content %}
<div class="right_col" role="main">
  <div class="">
    <div class="row top_tiles">



<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
      <div class="x_title">
        <h2>{% block breadcrumb_title %}DataTable <small>JS plugin</small>{% endblock breadcrumb_title %}</h2>
        <ul class="nav navbar-right panel_toolbox">
{% block grid_action %}
{% endblock grid_action %}
<!--
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{ % url 'notification_make' % }">Add New Hook</a>
            </div>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
-->
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
          <div class="row">
              <div class="col-sm-12">
                <div class="card-box table-responsive">
{% block grid_content %}
                    <table id="style-2" class="table style-2  table-hover">
                        <thead>
{% block grid_header %}
{% endblock grid_header %}
                        </thead>
                        <tbody>
{% block grid_record %}
{% endblock grid_record %}
                        </tbody>
                    </table>
{% endblock grid_content %}
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}
