{% extends "base_site.html" %}

{% load hosts_override %}
{% load static %}

{% block navbar %}

    {% include "ontospyweb/components/navbar_onto.html" %}

    {% if messages %}   {# not tested yet #}
        {% for message in messages %}
            <div class="lead alert alert-warning alert-dismissable text-center message-div" style="margin-top: -21px;">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ message|safe }}
            </div>
        {% endfor %}
            <script type="text/javascript">
                setTimeout(function(){$("div.message-div").fadeOut("slow")}, 3000);
            </script>
    {% endif %}
{% endblock navbar %}

{% block styles %}
<!--
<link href="{{ STATIC_URL }}bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet">
-->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{{ STATIC_URL }}ontospyweb/ontospyweb.css" rel="stylesheet">
{% endblock %}

{% block scripts %}

<!--
<script src="{{ STATIC_URL }}jquery/jquery-1.7.1.min.js"></script>
<script src="{{ STATIC_URL }}bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
-->

<script src="{{ STATIC_URL }}libs/chart.js-master/Chart.js"></script>
<script src="{{ STATIC_URL }}libs/chart.js.legend-master/src/legend.js"></script>

{% block global_js %}{% endblock %}

{# % include "googlestats.html" % #}

{% endblock %}



{% block container %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>{% block pageh1title %}Welcome to OntosPy{% endblock pageh1title %}</h3>
        </div>
        <div class="title_right">
          <div class="col-md-6 col-sm-1 col-xs-12 form-group pull-right top_search">
{% block console %}
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
{% endblock console %}
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      {% block pagecontents %}
        {# <h1>Hello, world!</h1> #}
      {% endblock pagecontents %}
    </div>
    <div class="clearfix"></div>
  </div>
</div>
{% endblock %}
