{% load hosts_override %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      {# hidden anchor #}
      <a name="top"></a>


      <a class="navbar-brand" href="{% url 'ontodocs_main' host 'linked' %}" title="Home">
          OntoSPy&nbsp;&nbsp;
      </a>

      {% if not ontoPrettyUri %}
          <a href="#jumptobottom" class="btn btn-default navbar-btn btn-xs">about</a>

      {% else %}

        <a href="{% url 'ontodocs_main' host 'linked' %}" class="btn btn-default navbar-btn btn-xs">home</a>

      {% endif %}

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
