{% extends 'layout/list.html' %}
{% load static %}

{% block title %}
Scanning Toolbelt - Listing
{% endblock title %}

{% block grid_actions %}
<div class="multiple_targets_button" style="visibility: hidden;">
  <a class="btn btn-outline-danger mb-2 float-right" href="#" onclick="deleteMultipleTargets()">Delete Multiple Targets</a>
  <a class="btn btn-outline-info mb-2 float-right" href="#" onclick="scanMultipleTargets()">Scan Multiple Targets</a>
</div>
{% endblock grid_actions %}

{% block base_content %}


<div class="">
<!--
    <div class="page-title">
        <div class="title_left">
            <h3>List entire toolbelt for usage withing VulnEra</h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5  form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
-->
    <div class="clearfix"></div>
    <div class="row">
        <div class="x_panel">
            <div class="x_content">
<!--
                <div class="col-md-12 col-sm-12  text-center">
                    <ul class="pagination pagination-split">
                        <li><a href="#">A</a></li>
                        <li><a href="#">B</a></li>
                        <li><a href="#">C</a></li>
                        <li><a href="#">D</a></li>
                        <li><a href="#">E</a></li>
                        <li>...</li>
                        <li><a href="#">W</a></li>
                        <li><a href="#">X</a></li>
                        <li><a href="#">Y</a></li>
                        <li><a href="#">Z</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
-->
{% for entry in object_list %}
                <div class="col-md-3 col-sm-3 profile_details">
                    <div class="well profile_view">
                        <div class="col-sm-12">
                            <h4 class="brief"><a href="{% url 'toolbelt_read' entry.pk %}">{{ entry.alias }}</a></h4>
                            <div class="left col-md-6 col-sm-6">
                                <h2><a href="{% url 'toolbelt_read' entry.pk %}">{{ entry.label }}</a></h2>
                                <p>
                                    <i class="fa fa-globe"></i>
                                    <a href="{{ entry.website }}">Website</a>
                                </p>
<!--
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-building"></i> Address: </li>
                                    <li><i class="fa fa-phone"></i> Phone #: </li>
                                </ul>
-->
                            </div>
                            <div class="right col-md-6 col-sm-6 text-center">
                                <a href="{% url 'toolbelt_read' entry.pk %}">
                                    <img src="{{ entry.picture }}" alt="" class="img-circle img-fluid">
                                </a>
                            </div>
                        </div>
<!--
                        <div class=" profile-bottom text-center">
                            <div class=" col-sm-6 emphasis">
                                <p class="ratings">
                                    <a>4.0</a>
                                    <a href="#"><span class="fa fa-star"></span></a>
                                    <a href="#"><span class="fa fa-star"></span></a>
                                    <a href="#"><span class="fa fa-star"></span></a>
                                    <a href="#"><span class="fa fa-star"></span></a>
                                    <a href="#"><span class="fa fa-star-o"></span></a>
                                </p>
                            </div>
                            <div class=" col-sm-6 emphasis">
                                <button type="button" class="btn btn-success btn-sm">
                                    <i class="fa fa-bullseye"></i>
                                </button>
                                <button type="button" class="btn btn-warning btn-sm">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button type="button" class="btn btn-danger btn-sm">
                                    <i class="fa fa-trash"> </i>
                                </button>
                            </div>
                        </div>
-->
                    </div>
                </div>
{% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock base_content %}

{% block grid_action %}
{% if entry %}
<a href="{% url 'toolbelt_edit' entry.pk %}" class="bs-tooltip open-domain" data-placement="top" title="" data-original-title="Update target">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather table-edit feather-edit-2">
    <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
  </svg>
</a>
<a href="{% url 'toolbelt_kill' entry.pk %}" class="bs-tooltip btnDelDomain" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete target">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather table-delete feather-x-circle">
    <circle cx="12" cy="12" r="10"></circle>
    <line x1="15" y1="9" x2="9" y2="15"></line>
    <line x1="9" y1="9" x2="15" y2="15"></line>
  </svg>
</a>
{% endif %}
{% endblock grid_action %}
