{% extends 'layout/form.html' %}
{% load static %}

{% block title %}
Identity - Update
{% endblock %}

{% block custom_js_css_link %}
{% endblock custom_js_css_link %}

{% block form_actions %}
<button type="submit" class="btn btn-success">Save</button>
{% endblock %}

{% block page_level_script %}
<script src="{% static 'assets/js/scrollspyNav.js' %}"></script>
{% endblock %}
