{% extends 'layout/form.html' %}
{% load static %}

{% block title %}
Hosting - Scan
{% endblock title %}

{% block custom_js_css_link %}
{% endblock custom_js_css_link %}

{% block form_name %}Start a new Scan{% endblock %}

{% block form_actions %}
<button type="submit" class="btn btn-success">Start</button>
{% endblock form_actions %}

{% block form_before %}
<div class="row">
   <div class='col-md-6'>
{% endblock form_before %}

{% block form_after %}
    </div>
    <div class="col-md-6">
       <div id="datetimepicker12"></div>
    </div>
</div>
{% endblock form_after %}

{% block page_level_script %}
<script src="{% static 'gentelella/ext/jQuery-Smart-Wizard/js/jquery.smartWizard.js' %}"></script>
<script type="text/javascript">
   $(function () {
       $('#datetimepicker12').datetimepicker({
           inline: true,
           sideBySide: true
       });
       $("input[name='target']").addClass('form-control');
       $("select[name='method']").addClass('form-control');
       $("input[name='emails']").addClass('form-control');
       $("input[name='notify']").addClass('form-control');
   });
</script>
{% endblock page_level_script %}
