{% extends 'base.html' %}
{% load static %}

{% block title %}
Workspace - Overview
{% endblock title %}

{% block breadcrumb_title %}Workspace Overview{% endblock breadcrumb_title %}

{% block main_content %}
<div class="row" style="display: inline-block;">
    <div class="tile_count">
        <div class="col-md-2 col-sm-4  tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Total Users</span>
            <div class="count">{{ object.crowd.count }}</div>
<!--
            <span class="count_bottom"><i class="green">4% </i> From last Week</span>
-->
        </div>
        <div class="col-md-2 col-sm-4  tile_stats_count">
            <span class="count_top"><i class="fa fa-users"></i> Total Groups</span>
            <div class="count">{{ object.teams.count }}</div>
<!--
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>
-->
        </div>
        <div class="col-md-2 col-sm-4  tile_stats_count">
            <span class="count_top"><i class="fa fa-cloud"></i> Cloud APIs</span>
            <div class="count">{{ object.oauth|length }}</div>
<!--
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
-->
        </div>
        <div class="col-md-2 col-sm-4  tile_stats_count">
            <span class="count_top"><i class="fa fa-language"></i> Wordlists</span>
            <div class="count">{{ object.wordlists.count }}</div>
<!--
            <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>
-->
        </div>
        <div class="col-md-4 col-sm-6  tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Created since</span>
            <div class="count">{{ object.since|timesince }}</div>
<!--
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
-->
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2 col-sm-2 ">
        <div class="x_panel tile fixed_height_320">
            <div class="x_title">
                <h2>Actions</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="dashboard-widget-content">
                    <ul class="quick-list" style="width: 100%;">
                        <li><i class="fa fa-pencil"></i><a href="{% url 'workspace_edit' object.pk %}">Settings</a></li>
                        <li><i class="fa fa-cloud"></i><a href="{% url 'workspace_conf' object.pk %}">Cloud API</a></li>
                        <li><hr/></li>
                        <li><i class="fa fa-bullseye"></i><a href="{% url 'workspace_scan' object.pk %}">Start Scan</a></li>
                        <li><hr/></li>
                        <li><i class="fa fa-calendar-o"></i><a href="{% url 'workspace_ever' object.pk %}">Planning</a></li>
                        <li><i class="fa fa-clock-o"></i><a href="{% url 'workspace_late' object.pk %}">Schedules</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 ">
        <div class="x_panel tile fixed_height_320 overflow_hidden">
            <div class="x_title">
                <h2>Vulnerability Assessement</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="" style="width:100%">
                    <tr>
                        <th style="width:37%;">
                            <p>&nbsp;</p>
                        </th>
                        <th>
                            <div class="col-lg-7 col-md-7 col-sm-7 ">
                                <p class="">Severity</p>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 ">
                                <p class="">Percents</p>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <canvas class="canvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                        </td>
                        <td>
                            <table class="tile_info">
                                <tr>
                                    <td>
                                        <p><i class="fa fa-square red"></i>critical </p>
                                    </td>
                                    <td>30%</td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><i class="fa fa-square purple"></i>high </p>
                                    </td>
                                    <td>30%</td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><i class="fa fa-square blue"></i>medium </p>
                                    </td>
                                    <td>10%</td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><i class="fa fa-square green"></i>low </p>
                                    </td>
                                    <td>20%</td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><i class="fa fa-square aero"></i>info </p>
                                    </td>
                                    <td>15%</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 ">
        <div class="x_panel tile fixed_height_320">
            <div class="x_title">
                <h2>Statistics</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <h4>Target usage across scans</h4>
{% for label,index,value in distribution_labels %}
                <div class="widget_summary">
                    <div class="w_left w_25">
                        <span>{{ label }}</span>
                    </div>
                    <div class="w_center w_55">
                        <div class="progress">
                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="{{ index }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ index }}%;">
                                <span class="sr-only">{{ index }}% Complete</span>
                            </div>
                        </div>
                    </div>
                    <div class="w_right w_20">
                        <span>{{ value }}</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
{% endfor %}
                <hr/>
                <h4>Method usage across scans</h4>
{% for label,index,value in distribution_method %}
                <div class="widget_summary">
                    <div class="w_left w_25">
                        <span>{{ label }}</span>
                    </div>
                    <div class="w_center w_55">
                        <div class="progress">
                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="{{ index }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ index }}%;">
                                <span class="sr-only">{{ index }}%</span>
                            </div>
                        </div>
                    </div>
                    <div class="w_right w_20">
                        <span>{{ value }}</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
{% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 ">
        <div class="x_panel fixed_height_320">
            <div class="x_title">
                <h2>Chronology</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div style="text-align: center; overflow: hidden; margin: 10px 5px 0;">
                    <canvas id="chronology" height="200"></canvas>
                </div>
<!--
                <div style="text-align: center; margin-bottom: 15px;">
                    <div class="btn-group" role="group" aria-label="First group">
                        <button type="button" class="btn btn-default btn-sm">Day</button>
                        <button type="button" class="btn btn-default btn-sm">Month</button>
                        <button type="button" class="btn btn-default btn-sm">Year</button>
                    </div>
                </div>
-->
                <div>
                    <ul class="list-inline widget_tally">
                        <li>
                            <p>
                                <span class="month">12 December 2014 </span>
                                <span class="count">+12%</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span class="month">29 December 2014 </span>
                                <span class="count">+12%</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span class="month">16 January 2015 </span>
                                <span class="count">+12%</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row" style="display: inline-block;">
    <div class="tile_count" style="margin-top: -35px;">
        <div class="col-md-2 col-sm-4  tile_stats_count">
            <span class="count_top"><i class="fa fa-bullseye"></i> Total Scans</span>
            <div class="count">{{ object.scanning.count }}</div>
<!--
            <span class="count_bottom"><i class="green">4% </i> From last Week</span>
-->
        </div>
        <div class="col-md-2 col-sm-4  tile_stats_count">
            <span class="count_top"><i class="fa fa-server"></i> Total Hosts</span>
            <div class="count">{{ proxies.machines.count }}</div>
<!--
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>
-->
        </div>
        <div class="col-md-2 col-sm-4  tile_stats_count">
            <span class="count_top"><i class="fa fa-globe"></i> Total Sites</span>
            <div class="count">{{ proxies.websites.count }}</div>
<!--
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
-->
        </div>
        <div class="col-md-2 col-sm-4  tile_stats_count">
            <span class="count_top"><i class="fa fa-link"></i> Total Links</span>
            <div class="count">{{ proxies.weblinks.count }}</div>
<!--
            <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>
-->
        </div>
        <div class="col-md-2 col-sm-4  tile_stats_count">
            <span class="count_top"><i class="fa fa-bug"></i> Web Vulnerabilities</span>
            <div class="count">{{ proxies.web_vuln.count }}</div>
<!--
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
-->
        </div>
        <div class="col-md-2 col-sm-4  tile_stats_count">
            <span class="count_top"><i class="fa fa-bug"></i> Net Vulnerabilities</span>
            <div class="count">7,325</div>
<!--
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
-->
        </div>
    </div>
</div>
<div class="clearfix"></div>
<!--
<div class="row">
    <div class="col-md-12 col-sm-12 ">
{% include "widgets/demo/network-activity.html" %}
    </div>
</div>
<div class="clearfix"></div>
-->
{% endblock %}

{% block page_level_plugin %}
<script src="{% static 'gentelella/ext/Flot/jquery.flot.js' %}"></script>
<script src="{% static 'gentelella/ext/Flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'gentelella/ext/Flot/jquery.flot.time.js' %}"></script>
<script src="{% static 'gentelella/ext/Flot/jquery.flot.stack.js' %}"></script>
<script src="{% static 'gentelella/ext/Flot/jquery.flot.resize.js' %}"></script>

<script src="{% static 'gentelella/ext/flot.orderbars/js/jquery.flot.orderBars.js' %}"></script>
<script src="{% static 'gentelella/ext/flot-spline/js/jquery.flot.spline.min.js' %}"></script>
<script src="{% static 'gentelella/ext/flot.curvedlines/curvedLines.js' %}"></script>

<script>
jQuery(function ($) {
if ($('#chronology').length) {
var canvas_line_01 = new Chart(document.getElementById("chronology"), {
type: 'line',
data: {
labels: ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday", "Saturday"],
datasets: [{
    label: "Passive",
    backgroundColor: "rgba(38, 185, 154, 0.31)",
    borderColor: "rgba(38, 185, 154, 0.7)",
    pointBorderColor: "rgba(38, 185, 154, 0.7)",
    pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
    pointHoverBackgroundColor: "#fff",
    pointHoverBorderColor: "rgba(220,220,220,1)",
    pointBorderWidth: 1,
    data: {{ chrono_passive }}
}, {
    label: "Active",
    backgroundColor: "rgba(3, 88, 106, 0.3)",
    borderColor: "rgba(3, 88, 106, 0.70)",
    pointBorderColor: "rgba(3, 88, 106, 0.70)",
    pointBackgroundColor: "rgba(3, 88, 106, 0.70)",
    pointHoverBackgroundColor: "#fff",
    pointHoverBorderColor: "rgba(151,187,205,1)",
    pointBorderWidth: 1,
    data: {{ chrono_active }}
}]
},
});
}
});
</script>
{% endblock page_level_plugin %}
